<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%- include ('header') %>
  <h1>profile</h1> 
  <p>id is <%= user.id %> name is <%= user.name %>  address is <%= user.address %></p> 
  <%- include ('footer') %>
</body>
</html>